html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

@media (min-width: 730px) {
  .container {
    max-width: 730px;
  }
}

.projects-div {
  width: 50%;
  display: table-cell;
  vertical-align:top;
}
.projects-table {
  width: 100%;
  display: table;
}
.projects-row {
  display: table-row;
}

.nav-pills>li {
   padding: 0 3px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 15px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 15px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-top: 1px solid #e5e5e5;
}

/* Custom page header */
.header {
  padding: 5px 0 10px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}

.logo {
  opacity:0.5;
  filter:alpha(opacity=50); /* For IE8 and earlier */
  height:40px;
}

.forkme {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

/* leaving this for now as a nice welcome banner */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

