
<!-- Contact Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      {{ page.content | markdownify }}

      <a href="http://www.google.com/recaptcha/mailhide/d?k=019Bivzhqa5xR7EIncWTSAXA==&amp;c=4lutqrJpLa_WBllVc6klxoe70sTC97rSPTA6Vkco_3c=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d019Bivzhqa5xR7EIncWTSAXA\x3d\x3d\x26c\x3d4lutqrJpLa_WBllVc6klxoe70sTC97rSPTA6Vkco_3c\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">r...</a>@gmail.com

    </div>
  </div>
</section>

<!-- Contact End -->
